.trains__text {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@media screen and (max-width: 320px) {
    .trains__text {
        max-width: 288px;
    } 
}
