.shelf {
    max-width: 984px;
    margin: auto;
    padding-top: 64px;
}

@media screen and (max-width: 1024px) {
    .shelf {
        max-width: 928px;
        padding: 56px 48px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .shelf {
        max-width: 768px;
        padding: 56px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .shelf {
        padding: 40px 0 0 0;
    } 
}