.trains__image {
    background-image: url(../../../images/cover-trains.jpg);
    max-width: 1184px;
    height: 740px;
    position: relative;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .trains__image {
        max-width: 1024px;
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .trains__image {
        max-width: 768px;
        height: 480px;
    }
}